.new-background-color{
  
    --background: #153f72 !important;
}

.background-color-card{
    --background: #153f72 !important;
    color: white !important;
    text-align: center !important;
  }

.box-item{
    border: 0.5px solid #363f4d !important;
    border-radius: 1rem !important;
    margin-top: 5% !important;
}

.background-color-card{
    --background: #fff !important;
}
  