<ion-app>
  <ion-router-outlet></ion-router-outlet>

 <!--  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" style="color: white;"></ion-icon>
        <ion-label style="color: white; font-weight: bold; text-shadow: 0.125em 0.125em #000;">Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="products">
        <ion-icon name="cart"  style="color: white;"></ion-icon>
        <ion-label style="color: white; font-weight: bold; text-shadow: 0.125em 0.125em #000;">Productos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="empresary">
        <ion-icon name="business"  style="color: white;"></ion-icon>
        <ion-label style="color: white; font-weight: bold; text-shadow: 0.125em 0.125em #000;">Empresarios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="events">
        <ion-icon name="calendar"  style="color: white;"></ion-icon>
        <ion-label style="color: white; font-weight: bold; text-shadow: 0.125em 0.125em #000;">Eventos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"  style="color: white;"></ion-icon>
        <ion-label style="color: white; font-weight: bold; text-shadow: 0.125em 0.125em #000;">Programas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-app>
