<ion-app>
  <ion-router-outlet></ion-router-outlet>

  
  <ion-tabs >
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home" style="color: white;"></ion-icon>
        <ion-label style="color: white !important; font-weight: bold !important; text-shadow: 0.125em 0.125em #000 !important;">Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="products" routerLink="/all-products">
        <ion-icon name="cart"  style="color: white;"></ion-icon>
        <ion-label style="color: white !important; font-weight: bold !important; text-shadow: 0.125em 0.125em #000 !important;">Productos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="empresary" routerLink="/bussines">
        <ion-icon name="business"  style="color: white;"></ion-icon>
        <ion-label style="color: white !important; font-weight: bold !important; text-shadow: 0.125em 0.125em #000 !important;">Empresarios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="events" routerLink="/events">
        <ion-icon name="calendar"  style="color: white;"></ion-icon>
        <ion-label style="color: white !important; font-weight: bold !important; text-shadow: 0.125em 0.125em #000 !important;">Eventos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about" >
        <ion-icon name="information-circle"  style="color: white;"></ion-icon>
        <ion-label style="color: white !important; font-weight: bold !important; text-shadow: 0.125em 0.125em #000 !important;">Programas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>  
  </ion-tabs>
</ion-app>
